{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
<div class="container pt60 pb60">
	<div class="text-center mb60">
		<h1>{{ jeux.nom }}</h1>
    </div>
    
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class='row'>
                <div class="col-md form-group ">
                    <img src="{{ jeux.image }}" alt="">
                </div>
                <div class="col-md form-group ">
                    <p><h4>Genre : </h4>{{ jeux.genre }}</p>
                    <p><h4>Console : </h4>{{ jeux.console.nom }}</p>
                    <p><h4>commentaire : </h4>{{ jeux.commentaire | raw }}</p>
                </div>
            </div>

            <a href="{{ path('edit_game', {'id': jeux.id}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('delete_game', {'id': jeux.id}) }}" class="btn btn-primary">Supprimer</a>
        </div>
    </div>
</div>
{% endblock %}