<!-- add_console.html.twig -->
{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
<div class="container pt60 pb60">
	<div class="text-center mb60">
		<h1>Ajouter une console</h1>
	</div>

    <!-- Form-->
    <div class="row">
        <div class="col-lg-8 mb-4">
            
            {{ form_start(formConsole) }}
            <div class='row'>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.nom, {'attr': {'placeholder': "Nom de la console"}}) }}
                </div>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.fabricant, {'attr': {'placeholder': "Le nom du fabricant"}}) }}
                </div>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.prix, {'attr': {'placeholder': "Le prix en Euro"}}) }}
                </div>
            </div>
            <div class='row'>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.image, {'attr': {'placeholder': "L'Url de l'image"}}) }}
                </div>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.dateDeSortie, {'attr': {'placeholder': "format date: j/m/a"}}) }}
                </div>
            </div>
            <div class='row'>
                <div class="col-md form-group ">
                    {{ form_row(formConsole.description, {'attr': {'placeholder': "Une description de la console", 'cols': "30", 'rows': "7"}} 
                    )}}
                </div>
            </div>

            <!-- form button -->
            <button type="submit" class="btn btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Ajouter la console
                {% endif %}
            </button>

            {{ form_end(formConsole) }}
        </div>
    </div>
</div>
{% endblock %} 