{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
<div class="container pt60 pb60">
	<div class="text-center mb60">
		<h2>Liste des jeux</h2>
	</div>

	<div class="grid">
		<div class="grid-sizer col-md-4"></div>

		{% for jeu in jeux %}
		<div class="grid-item col-md-4">
			<div class="card grid-item-content">
				<div class="card-body">
				<img src="{{ jeu.image }}" alt="">
				<h3 class="card-title">{{ jeu.nom }}</h3>

				<p class="card-text">
					Genre : {{ jeu.genre }}
				</p>

				<p class="card-text">
					Console : {{ jeu.console.nom }}
				</p>

				<p class="card-text">
					Date de Sortie : {{ jeu.dateDeSortie | date('d/m/Y')}}
				</p>

				<a href="{{ path('game_show', {'id': jeu.id}) }}" class="btn btn-primary">Voir plus</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}